
!.vscode/extensions.json
.DS_Store
.idea
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
/docs/superpowers/
# Editor directories and files
# Logs
build/
dist
dist-ssr
dist/
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.build/
/release/
